<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
       <menu
             id="RM2PTFeatures"
             label="RM2PT-Dev">
          <command
                commandId="com.rm2pt.generator.initialgpt.codegenerator"
                label="InitialGPT"
                style="push">
          </command>
          <visibleWhen
                checkEnabled="true">
             <or>
                <reference
                      definitionId="net.mydreamy.requirementmodel.REMODEL.Editor.opened">
                </reference>
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.name"
                            value="*.remodel">
                      </test>
                   </adapt>
                </iterate>
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.name"
                            value="*.xmi">
                      </test>
                   </adapt>
                </iterate>
             </or>
          </visibleWhen>
       </menu>
    </menuContribution>
 </extension>
 
  <extension
       point="org.eclipse.ui.commands">
    <command
          id="com.rm2pt.generator.initialgpt.codegenerator"
          name="Generate XXX Code">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.rm2pt.generator.initialgpt.REMODELExecutableExtensionFactory:com.rm2pt.generator.initialgpt.CodeGeneratorHandler"
          commandId="com.rm2pt.generator.initialgpt.codegenerator">
    </handler>
 </extension>
  <extension
       point="org.eclipse.ui.editors.documentProviders">
    <provider
          class="com.rm2pt.generator.initialgpt.REMODELExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
          extensions="remodel"
          id="net.mydreamy.requirementmodel.REMODEL.editors.documentProviders">
    </provider>
 </extension>
 
  <extension
       point="org.eclipse.xtext.extension_resourceServiceProvider">
    <resourceServiceProvider
          class="com.rm2pt.generator.initialgpt.REMODELExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
          uriExtension="remodel">
    </resourceServiceProvider>
 </extension>
 
</plugin>
	
